<div id="<%= dom_id label %>">
  <p><strong>Name:</strong> <%= label.name %></p>
  <p><strong>Description:</strong> <%= label.description %></p>
  <p><strong>Available: </strong> <%= label.available %></p>
</div>
