/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    padding: 0;
    margin: 0;
    margin: auto;
}

.container{
    color: #BFBFBF ; 
    display: grid;
}

html{
    font-family: 'Roboto Mono', monospace;
    display: grid;
    margin: auto;
}

nav{
    color: #BFBFBF;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
}

h1{
    color: #595959;
    font-family: 'Roboto Mono', monospace;
    display: grid;
}

h2{
    color: #595959;
    font-family: 'Roboto Mono', monospace;
    display: grid;
}

li{
    color: #595959;
    font-family: 'Roboto Mono', monospace;
    display: grid;
}

footer{
    color: #F2F2F2;
    font-family: 'Roboto Mono', monospace;
    background-color: #595959;
    align-items: center;
    padding: 35px;
    font-size: 20px;
    display: grid;
}

img{
    margin: auto;
    border-radius: 10px;
}