<p style="color: green"><%= notice %></p>

<h1>Lista de actuales usuarios registrados</h1>

<div id="usuarios">
  <%# <% @users.each do |user| %>
    <%#= render user %>
    <p>   listar aqui a los usuarios   </p>
  <%# end %>
</div>
<hr>
<h1>Individuales M9</h1>
<hr>
<div>
<h2>TRABAJO 1</h2>
<%= image_tag '1.jpg' %>
<ul>
<li> Finalizar DER con los campos necesarios</li>
<li> Generar modelos, migracion y tablas en un proyecto rails</li>
<li> asociar los modelos entre publicaciones y etiquetas</li>
<li> Generar el CRUD para publicaciones y etiquetas utilizando formularios anidados</li>
</ul></div>
<div></div>
<h2> TRABAJO 2</h2>
<%= image_tag '2.jpg' %>
<ul>
<li> Finalizar DER con los campos necesarios</li>
<li> Generar el modelo, migracion y asociación para la tabla usuarios utilizando la gema devise</li>
<li> Generar una ruta anidada, don de ingresando al perfil del usuario se puedan ver las publicaciones relacionadas</li>
</ul></div>
<div></div>
<h2> TRABAJO 3</h2>
<%= image_tag '3.jpg' %>
<ul>
<li> Finalizar DER con los campos y tabla restantes</li>
<li> Generar los modelos, migraciones y asociasiones de las tablas nuevas para reflejar el esquema de la base de datos</li>
<li> Definir una relacion has_many through: y otra relacion has_and_belongs_to_many</li>
<li> Probar el CRUD de tableros</li>
<li> Probar el CRUD de publicaciones con el cambio de relacion con etiquetas</li>
</ul></div>
<div>
<h2> TRABAJO 4</h2>
<ul>
<li> Implementar ACtiveStorage en el proyecto Rails</li>
<li> Configurar ACtiveStorage para almacenar archivos en S3</li>
<li> Definir una vista root para la aplicacion donde se puedan ver las publicaciones con sus respectivas fotos siguiendo una plantilla definida</li>
<li> Probar la creación y actualizacion de pulbicaciones para cargar fotografias a las publicaciones nuevas o existentes</li>
</ul></div>
<div>
<h2> TRABAJO 5</h2>
Ver tabla 
 Como 				Quiero							Para
 Administrador	Gestionar etiquetas				Evitar que los usuarios creen etiquetas repetidas o elimienen algunas muy utilizadas
 FotografoN1	Gestionar mis publicaciones		Que esten categorizadas y publicadas con la mejor descripcion posible
 FotografoN2	Gestionar tableros de interes	Guardar fotografias de otras personas de interes y sirvan de inspiracion
 <ul>
<li> Finalizar los criterios de aceptacion para cadad una de las historias de usuarios tomando en cuenta la motivacion principal de la aplicacion: compartir la pasion de fotografia de </li>
<li> Generar al menos un caso de prueb para cada criterio de aceptacion generado anteriormente</li>
<li> Implementar los casos de pruebas utilizando MiniTest en el proyecto de rails</li>
</ul></div>